<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<a href="http://localhost:8080/">Home</a>
<h1>
    About Valley's Laptop Shop
</h1>
<div>
    Here at Valley's we strive to bring you all your laptop needs to one place.
    Whether that may be parts or an out of the box complete laptop, our shop helps solve
    all of your mobile pc needs. Stop by and come check out your local Valley's for an experience that will
    guarantee you'll want to come back!
</div>
</body>
</html>